--- 
site_name: 
title: Teejay VanSlyke
---

.wrapper
  .block-container
    %div{class: "block block4"}
      %span.label 
        Hi. I'm Teejay. I spend my time designing and developing products, whether 
        original music, an ebook, or a web application. I believe that creativity is 
        the cure for our culture's consumption-oriented condition. 

    %div#tweet{class: "block block4"}
      %span.label.date
        Latest tweet
      .body
        %p
      %p
        <a href="https://twitter.com/teejayvanslyke" rel="me" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @teejayvanslyke</a>


    - article = @site.sorted_articles.reject {|a| a[:draft]}.first
    %div{class: "block block4 post"}
      %span.label.date
        Latest Post
      %h3
        = article[:title]
      .body= article.compiled_content

    %div{class: "block block4"}
      %span.label Effective creative habits for the 21st century 
      %a{href:"http://makesomethingtoday.me", title: "Make Something Today"}
        %img{src: "http://makesomethingtoday.me/assets/images/cover.png", alt:"Make Something Today"}/


    %div{class: "block block4"}
      %span.label My new ebook about tiny living
      %a{href:"http://minifybook.com", title: "Minify: A 21st Century Guide to Living a Happier Life with Less"}
        %img{src: "http://minifybook.com/assets/images/minify-book.png", alt:"Minify"}/

    %div{class: "block block4"}
      %span.label Elias Moniker: The A.K.A.
      %a{href:"http://eliasmoniker.com", title: "Elias Moniker: The A.K.A."}
        %img{src: "http://eliasmoniker.com.s3.amazonaws.com/images/cover5.jpeg", alt: "Elias Moniker: The A.K.A."}/


    - @site.sorted_articles.reject {|a| a[:draft]}.each_with_index do |article, index|
      - next if index == 0
      %div{class: "block block4 post #{"block4" if index == 0}"}
        %span.label.date= article[:created_at].strftime('%Y %m %d')
        /.pull-right
        /  <a href="https://twitter.com/share?url=#{article.path}&text=#{article[:title]}: http://tjvanslyke.com#{article.path}" class="twitter-share-button" data-related="jasoncosta" data-lang="en" data-size="large" data-count="none">Tweet</a>
        /  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        %h3
          = article[:title]
        .body
          = article.compiled_content

    = render 'partials/info'

